In [ ]:
#ASSIGNMENT_1
#BIG DATA STRATEGIES
#GAYATHRI RAVI NATH
#C0818959

In [ ]:
#AMAZON REVIEWS CLASSIFICATION
#DETAILS ABOUT THE DATASET
#Downloaded from : https://www.kaggle.com/ilkeryildiz/random-forest-for-amazon-reviews-classification/data
 #Rating:This column includes votes cast by users. 
 #Date:This column shows on what date users voted.
 #VariationThis column shows which product has been commented on.
 #Verified_rewiewsUser comments
 #FeedbackThis column indicates whether user comments are positive or negative. 1 is positive comment, 0 is negative comment.

In [ ]:
#importing the required modules

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [38]:
import seaborn as sns

In [ ]:
#Module for classification and regression

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#To convert a collection of text documents to a vector of term/token counts.

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
pip install plotly

Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Requirement already satisfied: six in c:\users\gayathri\anaconda3\lib\site-packages (from plotly) (1.15.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.3.1 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [29]:
import matplotlib.pyplot as plt

In [8]:
import plotly.offline as py

In [51]:
py.init_notebook_mode(connected=True)

In [9]:
import plotly.graph_objs as go

In [11]:
import plotly.tools as tls

In [50]:
from collections import Counter

In [31]:
from plotly.offline import init_notebook_mode, iplot

In [12]:
import plotly.figure_factory as ff

In [ ]:
#To select the best parameters from the listed hyperparameters

In [8]:
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score

In [11]:
df = pd.read_csv('amazon_alexa.csv')

In [12]:
df.head()

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3150 entries, 0 to 3149
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rating            3150 non-null   int64
 1   date              3150 non-null   object
 2   variation         3150 non-null   object
 3   verified_reviews  3150 non-null   object
 4   feedback          3150 non-null   int64
dtypes: int64(2), object(3)
memory usage: 123.2+ KB

In [14]:
# HOW MANY ALEXA PRODUCTS ARE THERE?
df['variation'].nunique()

16

In [15]:
# HOW MANY COMMENTS HAVE BEEN MADE ABOUT WHICH PRODUCT? 
df['variation'].value_counts()

Black  Dot                      516
Charcoal Fabric                 430
Configuration: Fire TV Stick    350
Black  Plus                     270
Black  Show                     265
Black                           261
Black  Spot                     241
White  Dot                      184
Heather Gray Fabric             157
White  Spot                     109
White                            91
Sandstone Fabric                 90
White  Show                      85
White  Plus                      78
Oak Finish                       14
Walnut Finish                     9
Name: variation, dtype: int64

In [16]:
# WHICH ALEXA PRODUCT GETS THE HIGHEST VOTES? 
df.groupby('variation').agg({"rating":"mean"}).sort_values('rating', ascending = False).head()

                                rating
variation
Walnut Finish                 4.888889
Oak Finish                    4.857143
Charcoal Fabric               4.730233
Heather Gray Fabric           4.694268
Configuration: Fire TV Stick  4.591429

In [17]:
# HOW MANY POSITIVE FEEDBACKS ARE THERE? 

# 1 = Positive , 0 = negative
df["feedback"].value_counts().head()

1    2893
0     257
Name: feedback, dtype: int64

In [55]:
trace0 = go.Bar(
            x = df[df["feedback"]== 1]["feedback"].value_counts().index.values,
            y = df[df["feedback"]== 1]["feedback"].value_counts().values,
            name='Positive Feedback')

trace1 = go.Bar(
            x = df[df["feedback"]== 0]["feedback"].value_counts().index.values,
            y = df[df["feedback"]== 0]["feedback"].value_counts().values,
            name='Negative Feedback')


data = [trace0, trace1]
layout = go.Layout(yaxis=dict(title='Count'),
                   xaxis=dict(title='Feedback'),title='Feedback Distribution')

fig = go.Figure(data=data, layout=layout)
fig.data[0].marker.line.width = 4
fig.data[0].marker.line.color = "black"
fig.data[1].marker.line.width = 4
fig.data[1].marker.line.color = "black"
py.iplot(fig)

NameError: name 'df' is not defined

In [23]:
# AVERAGE VOTES OF THE PRODUCTS 
rating = df.groupby('variation').agg({"rating":"mean"})

In [24]:
rating['variation'] = rating.index

In [25]:
rating.reset_index(drop=True)

      rating                     variation
0   4.233716                         Black
1   4.453488                    Black  Dot
2   4.370370                   Black  Plus
3   4.490566                   Black  Show
4   4.311203                   Black  Spot
5   4.730233              Charcoal Fabric
6   4.591429  Configuration: Fire TV Stick
7   4.694268          Heather Gray Fabric
8   4.857143                   Oak Finish
9   4.355556             Sandstone Fabric
10  4.888889                Walnut Finish
11  4.142857                         White
12  4.423913                    White  Dot
13  4.358974                   White  Plus
14  4.282353                   White  Show
15  4.311927                   White  Spot

In [ ]:
plt.figure(figsize=(20,15))
sns.boxplot(data=df2)

In [ ]:
#The date and rating of users' comments have been removed. The date on which the comment is made does not matter about the comment. 
#It may cause overfitting as the given score will be directly proportional to the comment. 
#Therefore, the date and rating columns have been removed.
df = df.drop(['date','rating'], axis=1)

In [32]:
df.head()

,variation,verified_reviews,feedback
0,Charcoal Fabric,Love my Echo!,1
1,Charcoal Fabric,Loved it!,1
2,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,Charcoal Fabric,Music,1

In [33]:
# Each of the products has been adjusted for the random forest.
variation_dummies = pd.get_dummies(df['variation'], drop_first = True)
variation_dummies.head()

,Black Dot,Black Plus,Black Show,Black Spot,Charcoal Fabric,Configuration: Fire TV Stick,Heather Gray Fabric,Oak Finish,Sandstone Fabric,Walnut Finish,White,White Dot,White Plus,White Show,White Spot
0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [34]:
df.drop(['variation'], axis=1, inplace=True)

In [35]:
df.head()

                                    verified_reviews  feedback
0                                      Love my Echo!         1
1                                          Loved it!         1
2  Sometimes while playing a game, you can answer...         1
3  I have had a lot of fun with this thing. My 4 ...         1
4                                              Music         1

In [36]:
df = pd.concat([df, variation_dummies], axis=1)

In [37]:
df.head()

,verified_reviews,feedback,Black Dot,Black Plus,Black Show,Black Spot,Charcoal Fabric,Configuration: Fire TV Stick,Heather Gray Fabric,Oak Finish,Sandstone Fabric,Walnut Finish,White,White Dot,White Plus,White Show,White Spot
0,Love my Echo!,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,Loved it!,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,"Sometimes while playing a game, you can answer...",1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,I have had a lot of fun with this thing. My 4 ...,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,Music,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [38]:
# All of the comments have been vectorized. 
# In this way, it was made meaningful for the random forest algorithm. 
# Each word in the data set was expressed as a number. 
# NLP techniques were not applied in detail in this study. 
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

In [39]:
alexa_countvectorizer = vectorizer.fit_transform(df['verified_reviews'])

In [40]:
alexa_countvectorizer.shape

(3150, 4044)

In [41]:
print(alexa_countvectorizer.toarray())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [42]:
df.drop(['verified_reviews'], axis=1, inplace = True)

In [43]:
df.head()

,feedback,Black Dot,Black Plus,Black Show,Black Spot,Charcoal Fabric,Configuration: Fire TV Stick,Heather Gray Fabric,Oak Finish,Sandstone Fabric,Walnut Finish,White,White Dot,White Plus,White Show,White Spot
0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [44]:
encoded_reviews = pd.DataFrame(alexa_countvectorizer.toarray())

In [45]:
encoded_reviews.head()

,0,1,2,3,4,5,6,7,8,9,...,4034,4035,4036,4037,4038,4039,4040,4041,4042,4043
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
df = pd.concat([df, encoded_reviews], axis=1)

In [47]:
df.head()

,feedback,Black Dot,Black Plus,Black Show,Black Spot,Charcoal Fabric,Configuration: Fire TV Stick,Heather Gray Fabric,Oak Finish,Sandstone Fabric,...,4034,4035,4036,4037,4038,4039,4040,4041,4042,4043
0,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,1,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
X = df.drop(['feedback'], axis=1)

In [49]:
y = df['feedback']

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state = 345)

In [51]:
print("X_train Size :",X_train.shape)

X_train Size : (2362, 4059)

In [52]:
print("X_test Size :",X_test.shape)

X_test Size : (788, 4059)

In [53]:
print("y_train Size :",y_train.shape)

y_train Size : (2362,)

In [54]:
print("y_test Size :",y_test.shape)

y_test Size : (788,)

In [55]:
rf_params = {"n_estimators" :[100,200,500,1000], 
             "max_features": [3,5,7], 
             "min_samples_split": [2,5,10,30],
             "max_depth": [3,5,8,None]}

In [56]:
rf_model = RandomForestClassifier(random_state = 357)

In [57]:
rf_cv_model = GridSearchCV(rf_model, rf_params, cv = 10, n_jobs = -1,verbose = 1).fit(X_train, y_train)

Fitting 10 folds for each of 192 candidates, totalling 1920 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   13.6s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:   51.3s
[Parallel(n_jobs=-1)]: Done 434 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done 784 tasks      | elapsed:  3.6min
[Parallel(n_jobs=-1)]: Done 1234 tasks      | elapsed:  5.8min
[Parallel(n_jobs=-1)]: Done 1784 tasks      | elapsed: 16.0min
[Parallel(n_jobs=-1)]: Done 1920 out of 1920 | elapsed: 20.1min finished

In [63]:
rf_tuned = RandomForestClassifier(**rf_cv_model.best_params_).fit(X,y)

In [65]:
tuned = [rf_tuned]
print("Best Model Parameters and Scores:")

for i in tuned:
    score = cross_val_score(i, X_train, y_train, cv = 10).mean()
    print(i,"score:",score)

Best Model Parameters and Scores:
RandomForestClassifier(max_features=3, n_estimators=200) score: 0.930565686905528